<!doctype html>
<html>
  <head>
    <title>Account Security Assistance</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="center">
    <div class="landing">
      <h1>Welcome to<br /><span>Account Security Assistance</span></h1>
      <p>
        Our security specialists help protect your Australian banking and online
        activities.
      </p>
      <button onclick="location.href = '/form'">Proceed</button>
      <button onclick="location.href = '/admin'">Login as Admin</button>
    </div>
  </body>
</html>
